ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

p {
  color: palevioletred;
}

.note {
  font-size: 20px;
}

#id-selector-demo {
  color: greenyellow;
}

li[value="4"] {
  color: blueviolet;
}

* {
  text-align: center;
}
